.group__button-del {
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: url(../../../images/urna.svg);
  background-color: transparent;
  border: none;

}


.group__button-del:hover {
  opacity: 0.8;
}

