.footer__copyright {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #545454;
  padding: 37px 20px 24px;
  margin: 0;
  min-width: 186px;

}

@media screen and (min-width: 480px) {
  .footer__copyright {
    font-size: 18px;
    line-height: 22px;
    padding: 51px 0 24px;
  }
}
