.popup__close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -36px;
  right: 0;
  cursor: pointer;
  background: url(../../../images/Close_Icon.svg);
  background-color: transparent;
  background-size: cover;
  border: none;
}

.popup__close:hover {
  opacity: 0.8;
}

@media screen and (min-width: 480px) {
  .popup__close {
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
  }
}
