.profail__name {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  text-align: center;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 3px 0 0 41px;
  max-width: 218px;
}


@media screen and (min-width: 480px) {
  .profail__name {
    font-size: 42px;
    line-height: 48px;
    margin: 61px 0 0 8px;
    max-width: 330px;
    text-align: left;
  }
}
