@import url(../src/vendor/normalize.css);

@import url(../src/vendor/fonts/fonts.css);

@import url(../src/blocks/page/page.css);

@import url(../src/blocks/header/header.css);

@import url(../src/blocks/header/__logo/header__logo.css);

@import url(../src/blocks/profail/profail.css);

@import url(../src/blocks/profail/__avatar/profail__avatar.css);

@import url(../src/blocks/profail/__avatar-images/profail__avatar-images.css);

@import url(../src/blocks/profail/__avatar-button/profail__avatar-button.css);

@import url(../src/blocks/profail/__blok/profail__blok.css);

@import url(../src/blocks/profail/__name/profail__name.css);

@import url(../src/blocks/profail/__text/profail__text.css);

@import url(../src/blocks/profail/__add-button/profail__add-button.css);

@import url(../src/blocks/profail/__edit-button/profail__edit-button.css);

@import url(../src/blocks/group/group.css);

@import url(../src/blocks/group/__images/group__images.css);

@import url(../src/blocks/group/__button-del/group__button-del.css);

@import url(../src/blocks/group/__element/group__element.css);

@import url(../src/blocks/group/__title/group__title.css);

@import url(../src/blocks/group/__title/_like/group__title_like.css);

@import url(../src/blocks/group/__button-like/group___button-like.css);

@import url(../src/blocks/group/__button-like/_active/group__button-like_active.css);

@import url(../src/blocks/group/__like-check/group__like-check.css);

@import url(../src/blocks/group/__name/group__name.css);

@import url(../src/blocks/footer/__copyright/footer__copyright.css);

@import url(../src/blocks/popup/popup.css);

@import url(../src/blocks/popup/_opened/popup_opened.css);

@import url(../src/blocks/popup/__close/popup__close.css);

@import url(../src/blocks/popup/__title/popup__title.css);

@import url(../src/blocks/popup/__container/popup__container.css);

@import url(../src/blocks/popup/__form/popup__form.css);

@import url(../src/blocks/popup/__button/popup__button-save.css);

@import url(../src/blocks/popup/__input/popup__input.css);

@import url(../src/blocks/popup/__images-cards/popup__images-cards.css);

@import url(../src/blocks/popup/_photo/popup_photo.css);

@import url(../src/blocks/popup/__name-cards/popup__name-cards.css);

@import url(../src/blocks/popup/__images-wrapper/popup__images-wrapper.css);

@import url(../src/blocks/popup/__button/_disabled/popup__button_disabled.css);

@import url(../src/blocks/popup/__error/popup__error.css);

@import url(../src/blocks/popup/__error/_visible/popup__error_visible.css);

@import url(../src/blocks/popup/__input/_type/popup__input_type_error.css);















